<li class="treeview">
    <a href="#">
        <i class="fa fa-link"></i> <span>Tình trạng hiện tại</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index","RestaurantStatus")">Xem</a></li>
        <li><a href="#">Báo cáo trong ngày</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-link"></i> <span>Quản lý nhân viên</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index","MUser")">Danh sách nhân viên</a></li>
        <li><a href="@Url.Action("Index","ShiftWork")">Chia ca làm việc</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-link"></i> <span>Thống kê</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="#">Tiền lương nhân viên</a></li>
        <li><a href="#">Thu chi</a></li>
    </ul>
</li>

