<li><a href="@Url.Action("Spending", "Cashier")"><i class="fa fa-link"></i> <span>Quản lý thu chi</span></a></li>
<li><a href="@Url.Action("Index", "Cashier")"><i class="fa fa-link"></i> <span>Danh sách bàn phục vụ</span></a></li>