
@{
    ViewBag.Title = "Gọi món";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    input, textarea {
        outline: 0 !important;
        border-width: 0 0 1px !important;
        border-color: lightskyblue !important;
    }

    .select2-selection {
        outline: 0 !important;
        border-width: 0 0 1px !important;
        border-color: lightskyblue !important;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: deepskyblue;
        border-color: #367fa9;
        padding: 1px 10px;
        color: #fff;
    }

    .btn-default {
        border: none !important;
        padding: 2px !important;
        background: none !important;
        margin-left: 10px !important;
    }
</style>

<link href="~/Content/plugins/jnoty/jnoty.css" rel="stylesheet" />
<div>
    <!--Chọn bàn-->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Chọn bàn</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Chọn bàn</label>
                    <div class="col-md-5">
                        <select id="drChonBan" class="form-control form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                            <option value="0" selected="selected" disabled="disabled">--Chọn bàn--</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-5 col-md-offset-3">
                        <button type="button" id="btnTimThongTinBan" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.box-body -->
    </div>

    <!--Thông tin bàn ăn-->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thông tin bàn ăn</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-sm-12">
                <div>
                    <label for="surcharge" class="col-sm-2 control-label">Phụ phí</label>
                    <div class="col-sm-4">
                        <input type="number" min="0" value="0" class="form-control" id="surcharge">
                    </div>
                </div>
                <div>
                    <button type="button" id="btnThemMon" class="btn btn-primary pull-right">
                        <i class="fa fa-plus"></i> Thêm món
                    </button>
                    <button type="button" hidden="hidden" class="btn btn-primary pull-right" id="btnSaveChange" style="margin-right:10px">
                        <i class="fa fa-plus"></i> Lưu thay đổi
                    </button>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover" id="tbThongTinBan">
                        <thead>
                            <tr>
                                <th>OrderItemId</th>
                                <th>MenuId</th>
                                <th>Tên món</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                                <th>Tình trạng</th>
                                <th>Ghi chú</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody id="#example tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>

<!--Modal thêm món-->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Thêm món ăn</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Chọn món</label>
                        <div class="col-md-9">
                            <select id="drChonMon" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                <option value="0" selected disabled="disabled">--Chọn món--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Số lượng</label>
                        <div class="col-md-9">
                            <input id="SoLuongMon" type="number"min="1" value="1" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Ghi chú</label>
                        <div class="col-md-9">
                            <input id="GhiChu" type="text" value="không có" class="form-control">
                        </div>
                    </div>
                    <input id="rowIndex" type="hidden" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Hủy</button>
                <button type="button" onclick="EditMenu()" id="btnUpdate" class="btn btn-primary" style="margin-right: 20px">Cập nhật</button>
                <button type="button" onclick="AddMenu()" id="btnAdd" class="btn btn-primary" style="margin-right: 20px">Cập nhật</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts{
    <link href="~/Content/plugins/datatables.net-bs/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables.net-bs/dataTables.bootstrap.min.js"></script>
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/select2-bootstrap.css" rel="stylesheet" />
    <script src="~/Content/plugins/select2/select2.min.js"></script>
    <script src="~/Content/plugins/jnoty/jnoty.js"></script>
    <script src="~/Content/js/common.js"></script>
    <script>
        $(document).ready(function () {
            GetTables();
            $('.select2').select2();
            GetAllMenu();
            $('#btnSaveChange').hide();
            $('#btnThemMon').hide();
        });

        // config table
        var table = $('#tbThongTinBan').DataTable({
            'paging': true,
            'pageLength': 5,
            'lengthChange': false,
            'searching': false,
            'ordering': false,
            'info': false,
            'autoWidth': true,
            'responsive': true
        });
        table.columns([0, 1]).visible(false);
        table.clear().draw();
        $('.dataTables_empty').html('Không có dữ liệu');
        // end config


        $('#btnTimThongTinBan').on('click', function () {
            var id = $('#drChonBan').val();
            if (id == 0 || id == null) {
                showalert("Chọn bàn", 2);
            }
            else {
                LayThongTinChiTietBan(id);
                $('#btnThemMon').show();
            }
        });

        // cập nhât
        $("#tbThongTinBan tbody").on('click', '.editButton', function (e) {
            e.preventDefault();
            var idx = $(this).closest('tr').index();
            var dataRow = table.rows(idx).data();
            var infoItem = {
                orderItemId: dataRow[0][0],
                menuId: dataRow[0][1],
                Note: dataRow[0][6],
                Quantity: dataRow[0][3],
                Price: dataRow[0][4],
                Status: dataRow[0][5],
            };

            $('#drChonMon').val(infoItem.menuId).trigger('change');
            $('#SoLuongMon').val(infoItem.Quantity);
            $('#GhiChu').val(infoItem.Note);
            $('#rowIndex').val(idx);
            $('#btnUpdate').show();
            $('#btnAdd').hide();
            $('#modal-default').modal('show');
        });

        // xóa
        $("#tbThongTinBan tbody").on('click', '.removeButton', function (e) {
            e.preventDefault();
            var idx = $(this).closest('tr').index();
            table.row(idx).remove().draw();
            showalert("Xóa thành công", 1);
        });

        // thêm mới
        $('#btnThemMon').on('click', function () {
            $('#drChonMon').val(0).trigger('change');
            $('#SoLuongMon').val(1);
            $('#GhiChu').val('không có');
            $('#rowIndex').val('');
            $('#btnUpdate').hide();
            $('#btnAdd').show();

            $('#modal-default').modal('show');
        });

        // save
        $('#btnSaveChange').on('click', function () {
            var id = $('#drChonBan').val();
            if (id == 0 || id == null) {
                showalert("Chọn bàn", 2);
                return;
            }
          
            var data = [];
            var form_data = table.rows().data();
            $.each(form_data, function (key, value) {
                var row = {
                    orderItemId: value[0],
                    menuId: value[1],
                    menuName: value[2],
                    quantity: value[3],
                    status: 1,
                    note: value[6]
                };
                data.push(row);
            });
            var info = {
                surcharge: $('#surcharge').val(),
                tableId: $('#drChonBan').val(),
                orders: data
            };

            $.ajax({
                url: '/Order/AddOrder',
                method: "POST",
                async: false,
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(info),
                success: function (result) {
                    if (result.Code == 1) {
                        var id = $('#drChonBan').val();
                        LayThongTinChiTietBan(id);
                        //$.each(form_data, function (key, value) {
                        //    // reload
                        //    var newData = [
                        //        value[0],
                        //        value[1],
                        //        value[2],
                        //        value[3],
                        //        value[4],
                        //        value[5],
                        //        value[6],
                        //        '<button type="button" disabled style="margin-right:10px" class="btn btn-default editButton"><i class="fa fa-edit"></i></button>'
                        //        + '<button type="button" disabled class="btn btn-default"><i class="fa fa-trash"></i></button>'
                        //    ];
                        //    table.row(key).data(newData).draw();
                        //});
                    }
                    showalert(result.Message, 2);
                },
                error: function (result, stt, msg) {
                    showalert(msg, 0);
                },
            });
        });
        // end save

        // danh sách món ăn của table
        function LayThongTinChiTietBan(id) {
            table.columns([0, 1]).visible(false);
            table.clear().draw();
            $('.dataTables_empty').html('Không có dữ liệu');

            $.ajax({
                url: '/Order/GetDetailInfoTable',
                method: "POST",
                async: false,
                dataType: "json",
                data: {
                    idTable: id
                },
                success: function (result) {
                    if (result == undefined || result == null || result == "") {
                        showalert("Không có dữ liệu", 0);
                        return;
                    }
                    if (result.Code == 1) {
                        table.clear().draw();
                        if (result.Data.length > 0) {
                            $(result.Data).each(function () {
                                table.row.add([
                                    this.OrderItemId,
                                    this.MenuId,
                                    this.MenuName,
                                    this.Quantity,
                                    this.Price,
                                    this.Status,
                                    this.Note,
                                    '<button type="button" disabled style="margin-right:10px" class="btn btn-default editButton"><i class="fa fa-edit"></i> </button>' +
                                    '<button type="button" disabled class="btn btn-default"><i class="fa fa-trash"></i></button>'
                                ]);
                            });
                            table.draw();
                        }
                        else {
                            table.clear().draw();
                            $('.dataTables_empty').html('Không có dữ liệu');
                        }
                    }
                    else {
                        showalert(result.Message, 0);
                        return;
                    }
                },
                error: function (result, stt, msg) {
                    showalert(msg, 0);
                },
            });
        }

        // lấy danh sách món ăn
        function GetAllMenu() {
            $.ajax({
                url: '/Order/GetAllMenu',
                method: "POST",
                dataType: "json",
                async: false,
                data: {},
                success: function (result) {
                    if (result == undefined || result == null || result == "") {
                        showalert("Không có dữ liệu", 0);
                        return;
                    }

                    if (result.Code == 1) {
                        if (result.Data.length > 0) {
                            var data = [];
                            $(result.Data).each(function () {
                                data.push({
                                    id: this.Id,
                                    text: this.Name,
                                    price: this.Price,
                                });
                            });
                            $("#drChonMon").select2({
                                data: data,
                                width: "100%"
                            });
                        }
                    } else {
                        showalert(result.Message, 0);
                        return;
                    }
                },
                error: function (result, stt, msg) {
                    showalert(msg, 0);
                },
            });
        }

        // thêm món ăn
        function AddMenu() {
            $('#btnSaveChange').show();
            var menuSelected = $('#drChonMon').select2('data')[0];
            if (menuSelected.id == 0 || menuSelected.id == null) {
                showalert("Chọn món", 2);
                return;
            }
            table.row.add([
                0,
                menuSelected.id,
                menuSelected.text,
                $('#SoLuongMon').val(),
                menuSelected.price,
                'Đang xử lý',
                $('#GhiChu').val(),
                '<button type="button" style="margin-right:10px" class="btn btn-default editButton"><i class="fa fa-edit"></i></button>'
                + '<button type="button" class="btn btn-default removeButton"><i class="fa fa-trash"></i></button>'
            ]);
            table.draw();
            showalert("Thêm thành công", 2);
        }

        // cập nhật món ăn
        function EditMenu() {
            $('#btnSaveChange').show();
            var idx = $('#rowIndex').val();
            var dataRow = table.rows(idx).data();
            var menuSelected = $('#drChonMon').select2('data')[0];
            if (menuSelected.id == 0 || menuSelected.id == null) {
                showalert("Chọn món", 2);
                return;
            }
            var newData = [
                dataRow[0][0],
                menuSelected.id,
                menuSelected.text,
                $('#SoLuongMon').val(),
                menuSelected.price,
                dataRow[0][5],
                $('#GhiChu').val(),
                '<button type="button" style="margin-right:10px" class="btn btn-default editButton"><i class="fa fa-edit"></i></button>' 
                + '<button type="button" class="btn btn-default removeButton"><i class="fa fa-trash"></i></button>'
            ];
            table.row(idx).data(newData).draw();
            showalert("Cập nhật thành công", 2);
        }

        // lấy danh sách bàn
        function GetTables() {
            $.ajax({
                url: '/Order/GetTables',
                method: "POST",
                dataType: "json",
                async: false,
                data: {},
                success: function (result) {
                    if (result == undefined || result == null || result == "") {
                        showalert("Không có dữ liệu", 0);
                        return;
                    }

                    if (result.Code == 1) {
                        if (result.Data.length > 0) {
                            var data = [];
                            $(result.Data).each(function () {
                                data.push({
                                    id: this.Id,
                                    text: this.Name
                                });
                            });
                            $("#drChonBan").select2({
                                data: data,
                                width: "100%"
                            });
                        }
                    } else {
                        showalert(result.Message, 0);
                        return;
                    }
                },
                error: function (result, stt, msg) {
                    showalert(msg, 0);
                },
            })
        }
    </script>
}