
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
<style type="text/css">
    input, textarea {
        outline: 0 !important;
        border-width: 0 0 1px !important;
        border-color: lightskyblue !important;
    }

    .select2-selection {
        outline: 0 !important;
        border-width: 0 0 1px !important;
        border-color: lightskyblue !important;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: deepskyblue;
        border-color: #367fa9;
        padding: 1px 10px;
        color: #fff;
    }

    .qty .count {
        color: #000;
        display: inline-block;
        vertical-align: top;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        padding: 0 2px;
        min-width: 35px;
        text-align: center;
    }

    .qty .plus {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        background-color: deepskyblue;
        width: 30px;
        height: 30px;
        font: 30px/1 Arial,sans-serif;
        text-align: center;
        border-radius: 50%;
    }

    .qty .minus {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        background-color: deepskyblue;
        width: 30px;
        height: 30px;
        font: 30px/1 Arial,sans-serif;
        text-align: center;
        border-radius: 50%;
        background-clip: padding-box;
    }

    .minus:hover {
        background-color: #717fe0 !important;
    }

    .plus:hover {
        background-color: #717fe0 !important;
    }
    /*Prevent text selection*/
    div.qty span {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    div.qty input {
        border: 0;
        width: 2%;
    }

        div.qty nput::-webkit-outer-spin-button,
        div.qty input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        div.qty input:disabled {
            background-color: white;
        }
</style>

<div class="row" style="margin:2px;">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Đồ ăn</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Order</a></li>
            <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-check"></i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <!--Tìm kiếm món ăn-->
                @*<div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tìm kiếm</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Lọai</label>
                                <div class="col-md-5">
                                    <select class="form-control select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;">
                                        <option>Đồ ăn</option>
                                        <option>Đồ uống</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-md-3 control-label">Tên món ăn</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="inputEmail3" placeholder="Nhập tên đồ ăn hoặc đồ uống">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button type="button" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>*@

                <!--Danh sách món ăn-->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Danh sách món ăn</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form class="form-horizontal">
                            <!--start-->
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="info-box">
                                        <span style="border-radius:50%" class="info-box-icon bg-aqua">
                                            <img width="100%" height="100%" style="border-radius:50%; vertical-align:unset" src="~/Content/images/main-background.jpg" />
                                        </span>

                                        <div style="padding-left:20px" class="info-box-content">
                                            <span>
                                                Tên món ăn
                                                <span style="font-size:17px" class="label label-info pull-right">$123</span>
                                            </span>
                                            <br />
                                            @*<span class="label label-info" style="font-size:20px">41,410</span>*@
                                            <br />
                                            <div class="qty mt-5">
                                                <span class="minus bg-dark" onclick="minus('IPTV_SoLuongBox')">-</span>
                                                <input type="number" class="count" id="IPTV_SoLuongBox" name="qty" value="1">
                                                <span class="plus bg-dark" onclick="plus('IPTV_SoLuongBox')">+</span>
                                                <span style="font-size:17px" class="label label-warning pull-right">$123</span>
                                            </div>
                                            <br />
                                            <button style="border-radius:50%; margin-left:10px" class="btn btn-default pull-right"><i class="fa fa-plus"></i></button>
                                            <button style="border-radius:50%" class="btn  btn-default pull-right"><i class="fa fa-shopping-cart"></i></button>

                                            <br />
                                            <br />
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                            </div>                      
                            <!--end-->
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="tab-pane" id="tab_2">
               <div class="row" id="order">

               </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Content/plugins/select2/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2();

            $('.count').prop('disabled', true);
            $(document).on('click', '.plus', function () {
                $('.count').val(parseInt($('.count').val()) + 1);
            });
            $(document).on('click', '.minus', function () {
                $('.count').val(parseInt($('.count').val()) - 1);
                if ($('.count').val() == 0) {
                    $('.count').val(1);
                }
            });
        });

        function AddOrder(id) {
            alert(id);
            var html =
                '<div class="col-md-4">' +
                '<div class="form-group">' +
                '<label for="inputEmail3" class="col-md-4 control-label">Tên món ăn</label>' +
                '<div class="col-md-8">' +
                '<label class="label-primary">Tên món 1</label>' +
                '</div>' +
                '</div>' +

                '<div class="form-group">' +
                '<label for="inputEmail3" class="col-md-4 control-label">Tên món ăn</label>' +
                '<div class="col-md-8">' +
                '<label class="label-warning">Giá món 1</label>' +
                '</div>' +
                '</div>' +

                '<div class="form-group">' +
                '<label for="inputEmail3" class="col-md-4 control-label">Số lượng</label>' +
                '<div class="col-md-8">' +
                '<input type="text" class="form-control" id="inputEmail3" placeholder="Số lượng">' +
                '</div>' +
                '</div>' +

                '<div class="form-group">' +
                '<div class="col-md-8 col-md-offset-4">' +
                '<button type="button" class="btn btn-primary">Add</button>' +
                '</div>' +
                '</div>' +
                '</div>';
            $('#order').append(html);
            $(this).attr('disabled');
        }
    </script>
}
