@model AUC.CommonUtility.DiplomaModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Generate</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 9pt;
        }
    </style>
</head>
<body>
    <h4>Student</h4>
    <hr />
    <div id="Grid">
        <table cellpadding="5" cellspacing="0" style="border: 1px solid #ccc;font-size: 9pt;">
            <tr>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Student Name</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Father Name</th>

            </tr>
            @foreach (var item in Model.DiplomaList)
            {
                <tr>
                    <td style="width:120px;border: 1px solid #ccc">@item.DiplomaStudentName</td>
                    <td style="width:120px;border: 1px solid #ccc">@item.DSFatherName</td>

                </tr>
            }
        </table>
    </div>
    <br />
    <br />
    @using (Html.BeginForm("Export", "ExportPDF", FormMethod.Post))
    {
        <input type="hidden" name="GridHtml" />
        <input type="submit" id="btnSubmit" value="Export" />
    }
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
            $(function () {
                $("#btnSubmit").click(function () {
                    $("input[name='GridHtml']").val($("#Grid").html());
                });
            });
    </script>
</body>
</html>