@using RestaurantMng.WebApplication.ViewModels
@model  List<OrderOrderItemVM>

@{
    ViewBag.Title = "Thu ngân";
}

@section style{
    <link href="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            loading();

    $('#datepickerTuNgay').datepicker({
        autoclose: true
    })
            $('#datepickerDenNgay').datepicker({
        autoclose: true
    })
        });

        $(function () {
            $('a').click(function () {
                //    $('#slide-div').fadeOut();
                $(this).css({ 'cursor': 'auto' });
            });

            $('.circle').click(function () {
                //    $(this).fadeOut(500);
            }).css({ 'cursor': 'pointer' });
        });

        $('.circle').click(function (e) {
            var id = $(this).data('orderid');
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                //data: JSON.stringify({ tableId: tableId, orderId: orderId }),
                success: function (response) {
                    var totalPrice = 0;
                    var surcharge = 0;
                    $('#detail').text('');
                    $.each(response, function (index, item) {
                        $('#detail').append(`
                                <div class="col-md-3">
                                    <p>${item.ItemName}</p>
                                </div>
                                <div class="col-md-3">
                                    <p>${item.Note}</p>
                                </div>
                                <div class="col-md-3">
                                    <p>${item.Price}</p>
                                </div>
                                <div class="col-md-3">
                                    <p>${item.Quantity}</p>
                                </div>

                                `);
                        totalPrice = totalPrice + item.Price * item.Quantity;
                        surcharge = item.Surcharge;
                    });
                    $('#surcharge').html(`Phụ thu: ${surcharge} vnđ`);
                    $('#totalPrice').html(`Thành tiền: ${totalPrice + surcharge} vnđ`);


                    $('#myModal').modal('show');
                    $('#ThanhToan').attr("data-orderid", id);
                },
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        });

        function func2(orderId, tableName) {
            $.ajax({
                type: 'Post',
                url: '@Url.Action("Index_Post", "Cashier")',
                data: { 'orderId': orderId, 'tableName': tableName },
                success: function (response) {
                    showalert(response.message, 1);
                }
            });
        };
         $('#SummaryType').change(function() {
        $('#sumType').val($(this).val());
      //here u can get the selected batch ID
      //pass the batch ID to controller by using ajax request
    });
        $('#frmSummary').submit(function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            alert('bam roi');

            var from = $('#datepickerTuNgay').datepicker('getDate');
            var to = $('#datepickerDenNgay').datepicker('getDate');
            var type = $('#SummaryType option:selected').val();


       //     $('#myModal').modal('hide');
            $.ajax({
                type: 'Post',
            //    url: $(this).attr('action'),
                url: '@Url.Action("Summary", "Cashier")',
            //    data: $(this).serialize(), // serializes the form's elements.
                data: { 'fromDate': from.toISOString(), 'toDate': to.toISOString(), 'type': type },

                success: function (response) {
                    $('#SummaryResult tr').empty();
                    var index = 1;
                    $('#SummaryResult').append(`<tr>
                                    <th">STT</th>
                                    <th">Lý do</th>
                                    <th">Thời gian</th>
                                    <th">Tiền</th>
                                    <th">Loại</th>
                                </tr>`);
                    $.each(response, function (index, item) {
                        $('#SummaryResult').append(`
                                <tr>
                                    <td>${index}</td>
                                    <td>${item.Reason}</td>
                                    <td>${item.Date}</td>
                                    <td>${item.TotalPrice} vnđ</td>
                                    <td>${item.Type}</td>
                                </tr>
                                `);
                        index = index + 1;
                    });
                },
                failure: function (response) {
                    showalert('failure', 0);
                },
                error: function (response) {
                    showalert('Error', 0);
                }
            });
        });

                //$(".circle").hover(function (event) {
                //}, function () {
                //    $("#divtoshow").hide();
                //});

                //$(document).mouseup(function (e) {
                //    var container = $(".circle");
                //    var needhide = $("#divtoshow");

                //    // if the target of the click isn't the container nor a descendant of the container
                //    if (!container.is(e.target) && container.has(e.target).length === 0 && !container.is(needhide)) {
                //        needhide.hide();
                //    }
                //});



    </script>


}

@*<div class="divshow" id="divtoshow" style="display: none;">
        <span id="divTitle"></span>
        SHOW ME!
    </div>*@
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg" style="max-width: 800px; min-width: 200px">
        <form id="DetailOrder" action="@Url.Action("TinhTien", "Cashier")" method="get">
            <div class="modal-content">

                <!-- Header -->
                <div class="modal-header text-center" style="background: gold">
                    <h1 style="color: white">Hóa đơn</h1>
                </div>

                <!-- Body -->
                <div class="modal-body">
                    <div class="col-md-3">
                        <p>Tên món</p>
                    </div>
                    <div class="col-md-3">
                        <p>Ghi chú</p>
                    </div>
                    <div class="col-md-3">
                        <p>Đơn giá</p>
                    </div>
                    <div class="col-md-3">
                        <p>Số lượng</p>
                    </div>

                    <div id="detail">

                    </div>
                </div>
                <p id="surcharge" style="margin-top: 50px; margin-left: 30px; font-size: 16px"></p>
                <p id="totalPrice" style="margin-top: 50px; margin-left: 30px; font-size: 20px"></p>
                <!-- Footer -->
                <div class="modal-footer modal-footer--mine">
                    <button type="button" id="ThanhToan" data-orderid="0" class="btn btn-default" action="@Url.Action("TinhTien", "Cashier")" method="post">Thanh toán</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="jumbotron text-center">
    <h2>THỐNG KÊ THU CHI</h2>
</div>
<div class="row">
    <form id="frmSummary">
        <div class="form-group col-md-12">
            <label class="col-md-3 control-label">Loại</label>
            <input type="hidden" id="sumType" value="" />
            <div class="col-md-9">
                <select class="form-control select2" multiple="multiple" name="type" id="SummaryType" data-placeholder="Select a State" style="width: 100%;" id="drLoaidichvu">
                    <option value="1" selected="selected">Tất cả</option>
                    <option value="2">Chi tiền lương</option>
                    <option value="3">Chi tiền thực phẩm</option>
                    <option value="4">Thu</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="col-md-3 control-label">Từ ngày</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="fromDate" id="datepickerTuNgay" placeholder="[Từ ngày]">
                @*<div class="input-group date" id="DOB">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="datepicker">
                    </div>*@
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="col-md-3 control-label">Đến ngày</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="toDate" id="datepickerDenNgay" placeholder="[Đến ngày]">
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-9">
                <button type="submit" class="btn btn-success">Xem</button>
            </div>
        </div>
    </form>
    <div class="form-group col-md-12">
        <table id="SummaryResult" class="table table-striped" style="width:90%; border: solid"></table>
    </div>
</div>
